@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap");

@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$primary: #00b894;
$primary-light: #e8fffa;
$primary-light-100: #cef5ec;
$primary-light-200: #EEFFFC;
$dark-gray: #101c34;
$dark-gray-100: #222222;
$dark-gray-200: #525455;
$dark-gray-300: #898989;
$dark-gray-400: #292D32;
$gray: #5f5f5f;
$gray-100: #959595;
$gray-200: #f8f8f8;
$gray-300: #d9d9d9;
$gray-400: #d5d5d5;
$gray-500: #e6e6e6;
$gray-600: #a0a0a0;
$gray-700: #575757;
$gray-800: #B7B7B7;
$gray-900: #8E8E8E;
$white: #ffffff;
$black: #000000;
$black-800: #191f25;
$black-700: #222222;
$orange: #ff6348;

$theme-colors: (
  "primary": $primary,
);

@import "../bootstrap/scss/bootstrap";

body {
  font-family: "DM Sans", sans-serif;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}
p {
  font-size: 20px;
  color: $gray;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
  @media screen and (max-width: 575px) {
    font-size: 16px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h4 {
  font-size: 30px;
  font-weight: 600;
  @media screen and (max-width: 767px) {
    font-size: 26px;
  }
  @media screen and (max-width: 575px) {
    font-size: 22px;
  }
}
.text_primary {
  color: $primary !important;
}
input, .form-control, .form-select {
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $primary;
  }
}

.mt-20 {
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  @media screen and (min-width: 1600px) {
    max-width: 1520px;
  }
}
// COMMON CSS
.btn {
  padding: 9px 20px;
  &.btn-primary {
    border-radius: 24px;
    border-color: $black-800;
    background-color: $primary-light;
    color: $black-700;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    .fa-arrow-right {
      margin-left: 12px;
      transform: rotate(-45deg);
      transition: transform 0.15s ease-in-out;
    }
    &:hover {
      border-color: $primary;
      background-color: $primary-light-100;
      .fa-arrow-right {
        transform: rotate(0deg);
      }
    }
  }
}
.flex-none{
  flex: none !important;
}
.lg-heading {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.334;
  color: $dark-gray;
  @media screen and (max-width: 1440px) {
    font-size: 45px;
  }
  @media screen and (max-width: 575px) {
    font-size: 37px;
  }
  @media screen and (max-width: 425px) {
    font-size: 28px;
  }
  span {
    color: $primary;
  }
}
.md-heading {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.5;
  color: $dark-gray;
  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
  @media screen and (max-width: 575px) {
    font-size: 26px;
  }
  span {
    color: $primary;
  }
}
.sm-heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  color: $dark-gray;
  @media screen and  (max-width: 575px) {
    font-size: 22px;
  }
}
.form-control, .form-select {
  padding: 12px 16px;
  background-color: $white;
  border-radius: 24px;
  border-color: $gray-400;
  line-height: normal;
  &::placeholder {
    color: rgba($gray, 0.5);
  }
  &:focus {
    box-shadow: none;
  }
}
textarea {
  &.form-control {
    border-radius: 8px;
    &:focus {
      box-shadow: none;
    }
  }
}
.section {
  padding: 75px 0;
  @media screen and (max-width: 991px) {
    padding: 50px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}
.pt-100 {
  padding-top: 100px;
  @media screen and (max-width: 991px) {
    padding-top: 80px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }
}
.pt-150 {
  padding-top: 150px;
  @media screen and (max-width: 991px) {
    padding-top: 75px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }
}
.pb-150 {
  padding-bottom: 150px;
  @media screen and (max-width: 991px) {
    padding-bottom: 75px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 50px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: $primary;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }
  }
}
.pb-150 {
  padding-bottom: 150px;
  @media screen and (max-width: 991px) {
    padding-bottom: 75px;
  }
  @media screen and (max-width: 767px) {
    padding: 50px 0;
  }
}


// Header Styles
header {
  height: 80px;
  @media screen and (max-width: 1399px) {
    height: 77px;
  }
  @media screen and (max-width: 767px) {
    height: 58px;
  }
  .header-wrap-main {
    position: relative;
    z-index: 999;
    display: flex;
    &.fixed {
      position: fixed !important;
      width: 100%;
      background-color: $white;
      box-shadow: 0 10px 10px rgba($black, 0.05);
      animation: slideIn 0.3s ease-in-out;
    }
    @keyframes slideIn {
      from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    .header-shape {
      min-width: 80px;
      background-color: $orange;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 767px) {
        min-width: 58px;
        img {
          max-width: 50%;
        }
      }
    }
    .container-wrapper {
      padding-right: 80px;
      width: 100%;
      @media (min-width: 1199px) and (max-width: 1280px) {
        padding-right: 70px;
      }
      @media screen and (max-width: 575px) {
        padding-right: 0;
      }
    }
    .header-wrap {
      display: flex;
      padding: 18px 0;
      align-items: center;
      @media screen and (max-width: 767px) {
        padding: 14px 0;
      }
      ul {
        margin-left: 72px;
        gap: 0 60px;
        @media screen and (max-width: 1599px) {
          gap: 30px;
        }
        @media screen and (max-width: 1399px) {
          gap: 20px;
          margin-left: 30px;
        }
        @media screen and (max-width: 1199px) {
          gap: 18px;
          margin-left: 0px;
        }
        li {
          a {
            color: $dark-gray-100;
            font-weight: 500;
            padding: 0 !important;
            position: relative;
            overflow: hidden;
            width: fit-content;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: -100%;
              height: 1px;
              width: 100%;
              background-color: $dark-gray-100;
              border-radius: 2px;
              transition: all 0.2s ease-in-out;
            }
            &:hover {
              &::after {
                left: 0;
              }
            }
            @media screen and (max-width: 1399px) {
              font-size: 14px;
            }
          }
        }
      }
      .mobile-menu {
        li {
          margin-top: 18px;
        }
      }
      .desktop-menu {
        ul {
          gap: 20px;
          @media screen and (max-width: 1199px) {
            gap: 12px;
          }
        }
      }
      .navbar {
        position: static;
      }
      .navbar-collapse {
        @media screen and (max-width: 1199px) {
          position: absolute;
          width: 100%;
          background-color: $white;
          top: 100%;
          left: 0;
          border-radius: 0 0 8px 8px;
          padding: 20px;
          border-top: 1px solid $gray-300;
          box-shadow: 0 10px 50px rgba($black, 0.05);
        }
      }
      .navbar-toggler {
        margin-left: auto;
        padding: 0;
        border: 0;
        &:focus {
          box-shadow: none;
        }
        &:hover {
          svg {
            path {
              stroke: $primary;
            }
          }
        }
      }
      .btn-primary {
        min-width: fit-content;
        @media screen and (max-width: 1399px) {
          font-size: 14px;
        }
        @media screen and (max-width: 767px) {
          margin-top: 18px;
        }
      }
    }
  }
}

/* Trusted Section */
.trusted-section {
  background-image: url("../assets/images/trusted-bg.png");
  background-position: top center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 50px 0;
  }
  .star-icon {
    img {
      position: absolute;
    }
    .star-outline1 {
      width: 33px;
      top: 14%;
      left: 14%;
      @media screen and (max-width: 991px) {
        top: 10%;
        left: 8%;
      }
      @media screen and (max-width: 575px) {
        top: 5%;
        left: 3%;
      }
    }
    .star-outline2 {
      width: 63px;
      top: 40%;
      right: 10%;
      @media screen and (max-width: 1440px) {
        right: 2%;
      }
    }
    .star-outline3 {
      width: 33px;
      bottom: 15%;
      left: 5%;
      @media screen and (max-width: 991px) {
        bottom: 5%;
        left: 3%;
      }
    }
  }
  .trusted-company {
    .item {
      img {
        max-width: 188px;
      }
    }
  }
  .testimonial-box {
    background-color: $white;
    box-shadow: 0px 0px 21px 0px #00000014;
    padding: 40px;
    border-radius: 12px;
    margin: 15px;
    @media screen and (max-width: 1199px) {
      padding: 30px;
    }
    @media screen and (max-width: 991px) {
      padding: 20px;
    }
    @media screen and (max-width: 767px) {
      padding: 15px;
    }
    .testimonial-user {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        border-radius: 100%;
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
      .testimonial-user-info {
        margin-left: 10px;
        h6 {
          font-size: 16px;
        }
        p {
          color: $gray-100;
          font-size: 14px;
        }
      }
      .testimonial-desc {
        p {
          margin-bottom: 0;
          color: $gray;
          font-size: 16px;
        }
      }
    }
  }
  &.scan-website{
    background-image: url('../assets/images/bg-rotate.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    .green-group{
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      left: 10%;
    }
    .outline-group{
      position: absolute;
      top: 78%;
      transform: translateY(-50%);
      right: 10%;
    }
  }
}

/* CTA Section */
.cta-section {
  margin-bottom: -200px;
  position: relative;
  z-index: 9;
  .cta-card {
    background-color: $primary;
    padding: 50px 120px;
    border-radius: 30px;
    @media screen and (max-width: 1199px) {
      padding: 50px 100px;
    }
    @media screen and (max-width: 991px) {
      padding: 50px 80px;
    }
    @media screen and (max-width: 767px) {
      padding: 50px;
    }
    @media screen and (max-width: 575px) {
      padding: 30px;
    }
    @media screen and (max-width: 480px) {
      padding: 20px;
    }
    h4 {
      font-size: 40px;
      color: $white;
      line-height: 1.5;
      max-width: 400px;
      @media screen and (max-width: 1199px) {
        max-width: none;
      }
      @media screen and (max-width: 991px) {
        font-size: 30px;
      }
      @media screen and (max-width: 767px) {
        font-size: 26px;
      }
    }
    p {
      color: $white;
      line-height: 1.8;
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }
}

/* Footer Style */
footer {
  background-color: $gray-200;
  padding-top: 300px;
  position: relative;
  z-index: 1;
  .top-footer {
    padding-bottom: 40px;
    border-bottom: 1px solid $gray-300;
    position: relative;
    @media screen and (max-width: 767px) {
      padding-bottom: 30px;
    }
    @media screen and (max-width: 575px) {
      padding-bottom: 20px;
    }
    .footer-ring {
      position: absolute;
      right: 40%;
      top: -5px;
      @media screen and (max-width: 1300px) {
        right: 35%;
      }
      @media screen and (max-width: 1199px) {
        right: 30%;
      }
      @media screen and (max-width: 991px) {
        right: 13%;
      }
      @media screen and (max-width: 575px) {
        right: 5%;
      }
    }
    .footer-logo {
      display: block;
      margin-bottom: 20px;
    }
  }
  .middle-footer {
    padding: 40px 0;
    @media screen and (max-width: 767px) {
      padding: 30px 0;
    }
    @media screen and (max-width: 575px) {
      padding: 20px 0;
    }
    .footer-widget {
      margin-bottom: 10px;
      h5 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 20px;
        @media screen and (max-width: 1199px) {
          margin-bottom: 10px;
        }
      }
      .footer-link {
        li {
          a {
            color: $gray;
            text-decoration: none;
            font-size: 16px;
            font-weight: 300;
            padding: 15px 0;
            display: block;
            @media screen and (max-width: 1199px) {
              padding: 10px 0;
            }
            @media screen and (max-width: 767px) {
              padding: 5px 0;
            }
            &:hover {
              color: $primary;
            }
          }
        }
      }
      .newsletter-form {
        position: relative;
        margin-bottom: 40px;
        @media screen and (max-width: 767px) {
          margin-bottom: 20px;
        }
        input {
          border: 1px solid $gray-500;
          padding: 15px 24px;
          border-radius: 40px;
          width: 100%;
          color: $gray;
        }
        .btn {
          position: absolute;
          right: 6px;
          top: 6px;
          min-width: 105px;
          @media screen and (max-width: 991px) {
            right: 5px;
            top: 5px;
          }
        }
      }
      .footer-social {
        display: flex;
        margin-bottom: 30px;
        li {
          margin-right: 10px;
          a {
            background-color: $gray-600;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            color: $white;
            display: block;
            text-align: center;
            line-height: 30px;
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
      .powered-by {
        font-weight: 600;
        span {
          min-width: 120px;
          display: inline-block;
        }
      }
    }
  }
  .bottom-footer {
    border-top: 1px solid $gray-300;
    padding: 30px 0;
    @media screen and (max-width: 767px) {
      padding: 20px 0;
    }
    p {
      color: $gray;
      font-size: 16px;
      margin-bottom: 0;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
      @media screen and (max-width: 575px) {
        text-align: center;
        margin-bottom: 5px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      @media screen and (max-width: 575px) {
        justify-content: center;
      }
      li {
        margin: 0 15px;
        @media screen and (max-width: 767px) {
          margin: 0 10px;
        }
        a {
          display: inline-block;
          color: gray;
          text-decoration: none;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

// HERO SECTION CSS
.hero-section{
  padding: 80px 0 50px;
  background-color: $gray-200;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding: 50px 0 20px;
  }
  .desc {
    max-width: 630px;
  }
  .desc {
    margin-top: 20px;
    @media screen and (max-width: 475px) {
      margin-top: 12px;
    }
  }
  .star-outline {
    position: absolute;
    top: 29%;
    right: 3%;
    @media screen and (max-width: 991px) {
      right: 12px;
      top: -37px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .details{
    @media screen and (min-width: 992px) {
      padding-left: 40px;
    }
    label{
      color: $gray;
      font-size: 14px;
    }
    .form-control {
      @media screen and (max-width: 991px) {
        max-width: 520px;
      }
    }
    p {
      color: $gray;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 40px;
      margin-top: 12px;
      @media screen and (max-width: 575px) {
        margin-bottom: 16px;
      }
    }
    .sm-heading {
      display: inline-block;
      img {
        position: absolute;
        top: -14px;
        right: -20px;
        height: 18px;
        width: auto;
        @media screen and (max-width: 475px) {
          display: none;
        }
      }
    }
    .btn-primary {
      img {
        position: absolute;
        top: -10px;
        right: -46px;
      }
    }
  }
  &.scan-website{
    padding: 100px 0;
    @media screen and (max-width: 767px) {
      padding: 50px 0;
    }
    ul{
      padding: 24px 0 32px;
      li{
        color: $primary;
        font-size: 20px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 8px;
        @media screen and (max-width: 575px) {
          font-size: 16px;
        }
        [class*="fa-"]{
          border: 2px solid $primary;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          font-size: 12px;
          font-weight: 600;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        span{
          display: inline-block;
          margin-left: 12px;
        }
      }
    }
    .star-outline{
      position: absolute;
      top: 6%;
      right: 3%;
      @media screen and (max-width:1199px) {
        top: 17%;
        right: 0;
      }
      @media screen and (max-width:991px) {
        top: -20%;
        right: unset;
      }
    }
    .cookie-wrapper{
      position: relative;
      @media screen and (max-width:475px) {
        flex-direction: column;
      }
      .btn{
        flex: none;
        margin-left: 16px;
        @media screen and (max-width:475px) {
          margin-top: 10px;
          margin-left: 0;
        }
      }
      .stars-wrap{
        position: absolute;
        top: -42px;
        left: calc(100% + 12px);
        display: inline-block;
        width: fit-content;
        @media screen and (max-width:991px) {
          top: -60px;
          left: calc(100% - 55px);
        }
      }
    }
  }
}

.scan-card{
  padding: 30px;
  background-color: $white;
  border-radius: 12px;
  position: relative;
  @media screen and (max-width:475px) {
    padding: 16px;
  }
  .form-select{
    background-color: $gray-200;
    color: $gray;
    margin: 0 20px;
    @media screen and (max-width:475px) {
      margin: 0 4px;
    }
    @media screen and (max-width:375px) {
      margin: 0 12px 0 0;
    }
  }
  .form-select{
    @media screen and (max-width:475px) {
      padding: 9px 16px;
    }
  }
  .logo-out{
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    @media screen and (max-width:475px) {
      height: 40px;
      width: 40px;
    }
    @media screen and (max-width:375px) {
      display: none;
    }
  }
  .user-avatar{
    @media screen and (max-width:475px) {
      height: 40px;
      width: 40px;
    }
  }
  p{
    color: $gray-800;
  }
  .top-left{
    position: absolute;
    top: 40%;
    left: 15%;
    height: 30px;
    width: auto;
  }
  .bottom-right{
    position: absolute;
    bottom: 10%;
    right: 8%;
    height: 30px;
    width: auto;
  }
}

// For Cookie section
.for-cookie-section {
  position: relative;
  .for-cookie-heading {
    position: relative;
    img {
      position: absolute;
      top: 45%;
      transform: translateY(-100%);
      left: 0;
      width: 60px;
      @media screen and (max-width: 991px) {
        width: 40px;
        top: 15%;
      }
    }
    p {
      margin-bottom: 60px;
    }
  }
  .accordion {
    margin-left: 95px;
    padding: 210px 0;
    position: relative;
    @media screen and (max-width: 1699px) {
      padding: 150px 0;
    }
    @media screen and (max-width: 1550px) {
      padding: 130px 0;
    }
    @media screen and (max-width: 1399px) {
      padding: 100px 0;
    }
    @media screen and (max-width: 1199px) {
      margin: 0;
      padding: 75px 0;
    }
    @media screen and (max-width: 991px) {
      padding: 0;
      margin-bottom: 40px;
    }
    .star1{
      position: absolute;
      top: 10%;
      right: 10%;
      z-index: 1;
      width: 40px;
      @media screen and (max-width: 991px) {
        top: -20%;
        right: 0%;
        width: 28px;
      }
    }
    .star2{
      position: absolute;
      bottom: 16%;
      right: 30%;
      z-index: 1;
      width: 24px;
      @media screen and (max-width: 1399px) {
        bottom: 10%;
      }
      @media screen and (max-width: 991px) {
        bottom: -12%;
        right: 5%;
        width: 18px;
      }
    }
    .ring2{
      position: absolute;
      bottom: 10%;
      right: 35%;
      z-index: 1;
      width: 37px;
      @media screen and (max-width: 1399px) {
        bottom: 6%;
      }
      @media screen and (max-width: 991px) {
        bottom: -44%;
        right: 95%;
        width: 24px;
      }
    }
    .accordion-item {
      border: 0;
      margin-bottom: 40px;
      padding-left: 30px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        border-radius: 5px;
        background-color: $gray-300;
        height: 100%;
        min-height: 34px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .accordion-button {
      background-color: transparent;
      border-radius: 0;
      border: 0;
      box-shadow: none;
      padding: 0;
      color: $dark-gray;
      font-weight: 800;
      font-size: 20px;
      margin-bottom: 8px;
      line-height: 1.5;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
      &::after {
        display: none;
      }
      &:not(.collapsed) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -30px;
          height: 44px;
          width: 4px;
          background-color: $primary;
          border-radius: 5px;
        }
      }
    }
    .accordion-body {
      padding: 0;
    }
  }
  .image-container {
    position: absolute;
    bottom: 75px;
    right: 0;
    width: 50%;
    @media screen and (max-width: 991px) {
      position: static;
      width: 100%;
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

// SLIDER SECTION CSS
.slider-section {
  padding: 50px 0;
  &.home-slider {
    background-color: $gray-200;
  }
  .company-slider {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 250px;
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        90.05deg,
        $gray-200 1.13%,
        transparent 101.26%
      );
      z-index: 2;
      @media screen and (max-width: 767px) {
        width: 80px;
      }
      @media screen and (max-width: 425px) {
        width: 20px;
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: 250px;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        90.05deg,
        transparent 1.13%,
        $gray-200 101.26%
      );
      z-index: 2;
      @media screen and (max-width: 767px) {
        width: 80px;
      }
      @media screen and (max-width: 425px) {
        width: 20px;
      }
    }
    .item {
      img {
        max-width: 188px;
        margin: 0 auto;
      }
    }
  }
}

// ENTERPRISE CSS

.enterprise-section {
  position: relative;
  .empty-img {
    @media screen and (max-width: 991px) {
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .privacy-img {
    position: absolute;
    bottom: 128px;
    right: 10%;
    width: 12vw;
    max-width: 200px;
    @media screen and (max-width: 1199px) {
      right: 5%;
    }
    @media screen and (max-width: 991px) {
      width: 18vw;
      bottom: 2%;
    }
    @media screen and (max-width: 575px) {
      width: 24vw;
    }
  }
  h4 {
    img {
      height: 40px;
    }
  }
  .desc {
    width: 100%;
    max-width: 1262px;
    margin: 0 auto;
  }
  .top-shape {
    margin-bottom: 78px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .bottom-shape {
    padding-left: 40%;
    display: block;
    padding-top: 68px;
    @media screen and (max-width: 991px) {
      padding-top: 24px;
      padding-left: 8%;
    }
  }
  .desc-text {
    max-width: 475px;
    @media screen and (max-width: 991px) {
      max-width: 70%;
      margin: 0 auto;
    }
    @media screen and (max-width: 575px) {
      max-width: 100%;
    }
  }
}

/* Contact Styles */
.banner-wrapper {
  background-color: $gray-200;
  padding: 100px 0;
  position: relative;
  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 50px 0;
  }
  .star-icon {
    img {
      position: absolute;
      &.contact-green-star1 {
        left: 27%;
        top: 27%;
        @media screen and (max-width: 1280px) {
          left: 24%;
          top: 25%;
        }
        @media screen and (max-width: 1199px) {
          left: 20%;
        }
        @media screen and (max-width: 991px) {
          left: 13%;
        }
        @media screen and (max-width: 767px) {
          left: 5%;
        }
        @media screen and (max-width: 640px) {
          left: 5%;
          top: 5%;
        }
      }
      &.contact-star-outline1 {
        right: 27%;
        top: 19%;
        @media screen and (max-width: 1280px) {
          right: 22%;
        }
        @media screen and (max-width: 1199px) {
          right: 20%;
        }
        @media screen and (max-width: 991px) {
          right: 15%;
        }
        @media screen and (max-width: 767px) {
          right: 5%;
        }
        @media screen and (max-width:640px) {
          top: 30%;
        }
      }
    }
  }
}
.contact-wrapper {
  min-height: 890px;
  position: relative;
  @media screen and (max-width: 1199px) {
    min-height: 790px;
  }
  @media screen and (max-width: 767px) {
    min-height: 690px;
  }
  @media screen and (max-width: 575px) {
    min-height: 650px;
  }
}
.contact-form {
  position: relative;
  margin-top: -434px;
  z-index: 1;
  @media screen and (max-width: 1199px) {
    margin-top: -374px;
  }
  @media screen and (max-width: 767px) {
    margin-top: -304px;
  }
  .contact-form-wrapper {
    padding: 40px;
    border-radius: 8px;
    border: 1px solid $gray-300;
    background-color: $white;
    @media screen and (max-width: 1199px) {
      padding: 30px;
    }
    @media screen and (max-width: 991px) {
      padding: 20px;
    }
    label {
      color: $gray;
      a {
        color: $gray;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
  }
}

/* Pricing Style */
.pricing-section {
  background-image: url("../assets/images/bg-rotate.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: relative;
  .pricing-star1 {
    position: absolute;
    top: 19%;
    left: 17%;
  }
  .pricing-star2 {
    position: absolute;
    top: 22%;
    right: 30%;
    width: 30px;
  }
  .pricing-green-group {
    position: absolute;
    left: 10%;
    top: 50%;
  }
}
.plan-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .switch {
    margin: 0 15px;
  }
  span {
    cursor: pointer;
    color: $gray-900;
    font-weight: 600;
    font-size: 20px;
  }
  .free-months {
    border: 2px solid $dark-gray;
    color: $dark-gray-100;
    border-radius: 30px;
    padding: 3px 10px;
    background-color: $primary-light-200;
    font-size: 12px;
    font-weight: normal;
    margin-left: 15px;
    position: relative;
    @media screen and (max-width: 575px) {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      left: -4px;
      top: 8px;
      width: 8px;
      height: 8px;
      background-color: #101c34;
      transform: rotate(-45deg);
      border-radius: 1.5px;
      z-index: -1;
    }
  }
}
.pricing-box {
  background-color: $white;
  border: 1px solid $gray-300;
  border-radius: 8px;
  padding: 40px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1199px) {
    padding: 20px;
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 575px) {
    margin-bottom: 15px;
  }
  .popular {
    background-color: #00b894;
    color: #ffffff;
    position: absolute;
    right: -30px;
    top: 30px;
    text-transform: uppercase;
    transform: rotate(45deg);
    padding: 0 40px;
  }
  h4 {
    color: $dark-gray-200;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  h2 {
    color: $dark-gray;
    font-size: 40px;
    font-weight: 700;
    @media screen and (max-width: 1199px) {
      font-size: 30px;
    }
  }
  > span {
    color: $dark-gray-300;
  }
  .pricing-list {
    margin-top: 20px;
    padding-bottom: 20px;
    li {
      color: $dark-gray-300;
      margin-bottom: 15px;
      i {
        margin-right: 10px;
        background-color: #00b894;
        border-radius: 100%;
        color: #ffffff;
        border: 1px solid #292D32;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 12px;
        line-height: 19px;
      }
      strong {
        color: $dark-gray-200;
      }
    }
  }
}

// STEP CARD CSS
.step-card-wrapper{
  display: flex;
  margin-top: 60px;
  @media screen and (max-width:767px) {
    flex-direction: column;
  }
  @media screen and (max-width:575px) {
    margin-top: 40px;
  }
  .step-card{
    flex: 1;
    text-align: center;
    padding: 0 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:767px) {
      &:not(:last-child){
        margin-bottom: 80px;
      }
    }
    &::before{
      position: absolute;
      content: '';
      top: 32px;
      width: calc(100% - 124px);
      left: calc(50% + 62px);
      height: 2px;
      background-color: $gray-300;
      @media screen and  (max-width: 991px) {
      width: calc(100% - 80px);
      left: calc(50% + 40px);
      top: 20px;
      }
      @media screen and (max-width:767px) {
        height: calc(100% - 70px);
        width: 2px;
        top: calc(100% + 10px);
        left: 50%;
      }
    }
    &:last-child{
      &::before{
        display: none;
      }
    }
    .img-out{
      height: 62px;
      width: 62px;
      @media screen and  (max-width: 991px) {
        height: 40px;
        width: 40px;
      }
    }
    p{
      font-size: 28px;
      line-height: 38px;
      margin:18px 0 23px;
      color: $dark-gray;
      @media screen and  (max-width: 991px) {
        font-size: 18px;
        line-height: 28px;
      }
      @media screen and  (max-width: 767px) {
        margin: 14px 0;
      }
    }
    .number{
      height: 46px;
      width: 46px;
      background-color: $primary;
      color: $white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      margin-top: auto;
      @media screen and (max-width: 991px) {
        height: 36px;
        width: 36px;
        font-size: 16px;
      }
    }
  }
}

// accordion-section CSS

.accordion-section{
  .accordion-wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    .accordion-item{
      margin-bottom: 30px;
      border-radius: 8px;
      overflow: hidden;
      border: none;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .accordion-button{
      background-color: $gray-200;
      box-shadow: none;
      font-size: 20px;
      color: $dark-gray;
      padding: 30px;
      transition: all 0.3s ease-in-out;
      @media screen and (max-width:575px) {
        padding: 16px;
        font-size: 18px;
      }
      &:not(.collapsed){
        background-color: $gray-200;
        padding: 30px 30px 0 30px;
        @media screen and (max-width:575px) {
          padding: 16px 16px 0 16px;
        }
      }
    }
    .accordion-body{
      background-color: $gray-200;
      padding: 16px 30px 30px 30px;
      text-align: start;
      @media screen and (max-width:575px) {
        padding: 16px;
      }
    }
  }
}
.how-it-works{
  padding-bottom: 150px;
  @media screen and (max-width: 767px) {
    padding-bottom: 20px;
  }
}